colorama==0.4.6
greenlet==3.3.2
iniconfig==2.3.0
packaging==26.0
pluggy==1.6.0
Pygments==2.19.2
PyMySQL==1.1.2
pytest==9.0.2
setuptools==82.0.0
SQLAlchemy==2.0.48
typing_extensions==4.15.0
wheel==0.46.3
